.actual {
  margin-bottom: 80px;
}

.actual__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actual__title {
  @include font(42px, 60px, 0.76px, $font-futura-book, 300, #333333);
  margin-bottom: 30px;
}

.actual__images {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.actual__image-wrap {
  position: relative;
  display: flex;
  transition: all 0.3s ease-in-out;
  &:first-child {
    margin-bottom: 10px;
  }
  &:first-child:hover {
    transform: scale(1.02) translateY(-5px);
  }
  &:hover {
    transform: scale(1.02) translateY(5px);
    cursor: pointer;
  }
}

.actual__text {
  @include font(18px, 24px, normal, $font-futura-demi, 300, #ffffff);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  & span {
    padding: 0 20px;
    position: absolute;
    bottom: 20px;
  }
}

.actual__text-link {
  @include font(18px, 28px, normal, $font-futura-book, 300, #ffffff);
  display: block;
  padding: 10px 0;
}

.actual__link {
  @include font(16px, 32px, 3px, $font-futura-demi, 500, #333333);
  text-transform: uppercase;
  margin-left: -15px;
  position: relative;
  &::after {
    content: url("../../img/read-more-icon.svg");
    width: 19px;
    height: 32px;
    position: absolute;
    top: 0;
    right: -27px;
  }
}

@media screen and (min-width: $tablet-width) {

}

@media screen and (min-width: $desktop-width) {
  .actual {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  .actual__container {
    width: 92.3611111%;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }

  .actual__images {
    flex-direction: row;
  }

  .actual__image-wrap {
    position: relative;
    display: flex;
    transition: all 0.3s ease-in-out;
    &:first-child {
      margin-bottom: 0;
      margin-right: 20px;
    }
    &:first-child:hover {
      transform: scale(1.02) translateX(-5px);
    }
    &:hover {
      transform: scale(1.02) translateX(5px);
      cursor: pointer;
    }
  }
}
