.page-footer {
  background: url('../../img/skandinavisk-tommerhuss-akvarelis-footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // outline: 2px solid red;
  // height: 500px;
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__logo {
  margin-left: 5px;
  margin-bottom: 15px;
  flex-shrink: 1;
}

.footer__logo-image {
  width: 132px;
}

.footer__nav {
  @include font(16px, 40px, normal, $font-futura-medium, 400, #141414);
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  // flex-grow: 1;
  order: 3;
}

.footer__nav-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer__nav-item {

  &:first-child {
  }
  &:last-child {
    margin-right: 0;
  }
}

.social {
  order: 2;
}

.social__icons {
  width: 105px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}

.social__icon {
  width: 20px;

}

.social__btn {
  fill: #7E7E7E;
  transition: all 0.3s ease-in-out;
  &:hover {
    fill: #2A4D3A;
  }
}

.social__icon-wrap {
  display: flex;
  align-self: center;
}

.footer__bottom {
  @include font(14px, 20px, 0.57px, $font-futura-book, 300, #666666);
  display: flex;
  flex-direction: column;
  align-items: center;

  & img {
    margin-bottom: 80px;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  .footer__nav {
    order: 1;
  }
}

@media screen and (min-width: $tablet-width) {

}

@media screen and (min-width: $desktop-width) {
  .footer {
    width: 100%;
    // max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer__container {
    width: 92.3611111%;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer__top {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // flex-wrap: wrap;
    margin-bottom: 68px;
  }

  .footer__nav {
    width: 587px;
    // @include font(16px, 40px, 0.76px, $font-futura-medium, 400, #141414);
    // margin-bottom: 25px;
    // display: flex;
    // flex-direction: column;
    // flex-grow: 1;
    // order: 3;
    outline: 2px solid red;
  }

  .footer__nav-items {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__bottom {
    // @include font(16px, 20px, 0.57px, $font-futura-book, 300, #666666);
    font-size: 16px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    // & img {
    //   margin-bottom: 25px;
    // }
    & img {
      margin-bottom: 75px;
    }
  }

  .footer__copyright {
    // display: flex;
    flex-direction: row;
    // align-items: center;
    margin-bottom: 40px;
  }
}

