.page-header {
  @include font(13px, 16px, 3.9px, $font-futura-medium, 500, #101010);
  text-transform: uppercase;
}

.page-header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.page-header__logo {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.page-header__logo-image {
  margin-left: 25px;
}

.page-header__menu-toggle {
  font-size: 0;
  display: block;
  margin-top: -5px;
  padding-right: 80px;
  content: "";
  background-image: url("../../img/icon-menu-open.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  box-sizing: content-box;
  cursor: pointer;
  &--open {
    background-image: url("../../img/icon-menu-close.svg");
    background-size: 21px 22px;
  }
}

.navigation {
  display: none;
  flex-direction: column;
  &--open {
    display: flex;
  }
  &--nojs {
    display: flex;
  }
}

.menu__item {
  margin-bottom: 15px;
  &:first-child {
    padding-top: 15px;
  }
  &:last-child {
    margin-bottom: 25px;
  }
}

.lang__items {
  display: flex;
  margin-bottom: 25px;
}

.lang__item {
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
  & a {
    display: flex;
    justify-content: center;
    margin-right: -3px;
  }
  &--active {
    border-bottom: 1px solid #101010;
  }
}

@media screen and (min-width: $tablet-width) {
  .page-header__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-header__logo {
    width: auto;
  }

  .page-header__menu-toggle {
    display: none;
  }

  .navigation {
    margin-right: 20px;
    display: flex;
  }

  .menu {
    margin-bottom: 10px;
  }

  .menu__items {
    display: flex;
    justify-content: space-between;
  }

  .menu__item {
    margin-right: 15px;
    margin-bottom: 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .lang__items {
    margin-bottom: 0;
  }

  .lang {
    margin-left: auto;
    display: flex;
  }
}

@media screen and (min-width: $desktop-width) {
  .page-header {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  .page-header__container {
    width: 92.3611111%;
    max-width: 1330px;
    margin-right: auto;
    margin-left: auto;
    margin-left: 60px;
  }

  .page-header__logo-image {
    margin-left: 0;
  }

  .navigation {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 0;
  }

  .menu__item {
    margin-right: 45px;
  }

  .lang {
    margin-right: 10px;
  }
}
