.hero {
  // border: 2px solid red;
  margin-bottom: 50px;
}

.hero__container {
  // border: 2px solid red;

}

.hero__image {
  background: url("../../img/hero-attels.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  // margin-bottom: 5px;
  &::before{
    background-color: rgba(0, 0, 0, 0.37);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.hero__title {
  width: 58%;
  font-family: $font-futura-book;
  font-size: 7vw;
  line-height: 10vw;
  letter-spacing: 0.06px;
  color: white;
  padding: 25px 25px 25px 25px;
  text-align: left;
  z-index: 999;
}

.hero__btn {
  font-family: $font-futura-demi;
  padding: 5px 10px;
  font-size: 0.6rem;
  line-height: 24px;
  letter-spacing: 0.51px;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  background-color: transparent;
  margin-bottom: 25px;
  margin-left: 25px;
  z-index: 999;
}

.hero__icons {
  width: 100%;
  background-color: #334C3B;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero__icon-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__icon {
  width: 50px;
  height: 30px;
  margin-top: 15px;
}

.hero__text {
  font-family: $font-futura-bold;
  color: white;
  font-size: 0.5rem;
  line-height: 18px;
  margin-bottom: 15px;
}
