.footer {
  background: url('../../img/skandinavisk-tommerhuss-akvarelis-footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.footer__logo {
  margin-left: 5px;
  margin-bottom: 15px;
  flex-shrink: 1;
}

.footer__logo-image {
  width: 132px;
}

.footer__nav {
  @include font(16px, 40px, normal, $font-futura-medium, 400, #141414);
  width: 230x;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  order: 3;
}

.footer__nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__bottom {
  @include font(14px, 20px, 0.57px, $font-futura-book, 300, $dim-gray);
  display: flex;
  flex-direction: column;
  align-items: center;

  & img {
    margin-bottom: 80px;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 500px) {
  .footer__nav {
    order: 1;
  }
}

@media screen and (min-width: 1000px) {
  .footer__top {
    margin-bottom: 48px;
  }

  .footer__nav {
    width: 587px;
    flex-grow: 0;
  }

  .footer__nav-items {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__copyright {
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: $desktop-width) {
  .footer__top {
    margin-bottom: 75px;
  }


  .footer__logo-image {
    width: auto;
  }

  .footer__bottom {
    font-size: 16px;
    & img {
      margin-bottom: 110px;
    }
  }

  .footer__copyright {
    margin-bottom: 40px;
  }
}

