.promo-video {
  position: relative;
  margin-bottom: 50px;
}

.promo-video__play {
  width: 60px;
  height: 60px;
  border: 3px solid $white;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-video__play-sign {
  display: block;
  width: 16px;
  height: 25px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 12px 0px 12px 20px;
  border-color: transparent transparent transparent $white;
}

@media screen and (min-width: $tablet-width) {
  .promo-video__play {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: $desktop-width) {
  .promo-video__play {
    width: 96px;
    height: 96px;
  }

  .promo-video__play-sign {
    border-width: 16px 0px 16px 25px;
  }
}
