.references__container {
  position: relative;
}

.references__title {
  @include font(42px, 60px, 0.76px, $font-futura-book, 300, $night-rider);
  margin-bottom: 30px;
  z-index: 999;
  text-align: center;
}

.references__map-wrap {
  overflow: hidden;
  height: 545px;
  text-align: center;
  position: relative;
}

.references__map-interactive {
  width: 100%;
  height: 100%;
  position: relative;
  top: -55px;
  border: 0;
}

.references__map-overlay {
  color: transparent;
  width: 100%;
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  &:hover {
    @include font(40px, 60px, 0.76px, $font-futura-book, 500, $white);
    background-color: rgba($color: $black, $alpha: 0.2);
  }
}

@media screen and (min-width: $tablet-width) {
  .references__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .references__map-wrap {
    width: 640px;
    height: 445px;
  }

  .references__map-interactive {
    width: 100%;
    height: 100%;
  }

  .references__map-overlay {
    height: 390px;
  }
}

@media screen and (min-width: $desktop-width) {
  .references__map-wrap {
    width: 100%;
    height: 593px;
  }

  .references__map-interactive {
    width: 100%;
    height: 100%;
  }

  .references__map-overlay {
    height: 538px;
  }
}
