.social {
  width: 40%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  order: 2;
}

.social__icons {
  width: 105px;
  display: flex;
  justify-content: space-between;
}

.social__icon {
  width: 20px;
}

.social__btn {
  fill: $grey;
  transition: all 0.3s ease-in-out;
  &:hover {
    fill: $bottle-green;
  }
}

.social__icon-wrap {
  display: flex;
  align-self: center;
}

@media screen and (min-width: $before-tablet-width) {
  .social {
    width: auto;
    height: 40px;
  }
}

@media screen and (min-width: $desktop-width) {
  .social__icons {
    width: 140px;
  }
}
