.traditions__container {
  margin-bottom: 42px;
}

.traditions__title {
  @include font(42px, 60px, 0.76px, $font-futura-book, 300, $night-rider);
  text-align: center;
  margin-bottom: 50px;
}

.traditions__images {
  max-width: 642px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  text-align: center;
  position: relative;
}

.traditions__descr {
  margin-bottom: 50px;
}

.traditions__descr-title {
  @include font(16px, 24px, 3px, $font-futura-medium, 500, $black-russian);
  text-transform: uppercase;
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  &::after {
    @include font(170px, 218px, 4.25px, $font-futura-medium-oblique, 500, $fallow);
    font-style: oblique;
    content: "2";
    display: block;
    opacity: 0.2;
    position: absolute;
    top: -130px;
    left: -5px;
  }
}

.traditions__descr-text {
  @include font(19px, 32px, 0.47px, $font-futura-book, 300, $dim-gray);
  padding: 0 20px;
}

@media screen and (min-width: $tablet-width) {
  .traditions__descr {
    width: 662px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
  }
}

@media screen and (min-width: $desktop-width) {
  .traditions__content {
    display: flex;
  }

  .traditions__images {
    margin-right: auto;
    margin-left: 0;
  }

  .traditions__descr {
    width: 40.1709402%;
    max-width: 470px;
    margin-top: 80px;
  }

  .traditions__descr-text {
    @include font(19px, 32px, 0.47px, $font-futura-book, 300, $dim-gray);
    padding: 0 0 0 20px;
  }
}
