.traditions__title {
  @include font(42px, 60px, 0.76px, $font-futura-book, 300, #333333);
  text-align: center;
  margin-bottom: 50px;
}

.traditions__images {
  max-width: 642px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  text-align: center;
  position: relative;
}

.arrows {
  width: 90px;
  height: 45px;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 4px;
}

.arrows__left,
.arrows__right {
  width: 45px;
  height: 45px;
  border: none;
  background-color: #ffffff;
  background-image: url("../../img/read-more-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.arrows__right {
  background-image: url("../../img/read-more-icon.svg");
  transform: rotate(0);
}

.traditions__descr {
  margin-bottom: 50px;
}

.traditions__descr-title {
  @include font(16px, 24px, 3px, $font-futura-medium, 500, #1D1F22);
  text-transform: uppercase;
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  &::after {
    @include font(170px, 218px, 4.25px, $font-futura-medium-oblique, 500, #C39F71);
    font-style: oblique;
    content: "2";
    display: block;
    opacity: 0.2;
    position: absolute;
    top: -130px;
    left: -5px;
  }
}

.traditions__descr-text {
  @include font(19px, 32px, 0.47px, $font-futura-book, 300, #666666);
  padding: 0 20px;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.download__icon {
  margin-right: 16px;
}

.download__link {
  @include font(16px, 32px, 3px, $font-futura-demi, 500, #333333);
  text-transform: uppercase;
  position: relative;
  &::after {
    content: url("../../img/read-more-icon.svg");
    width: 19px;
    height: 32px;
    position: absolute;
    top: 0px;
    right: -27px;
  }
}

@media screen and (min-width: $tablet-width) {
  .traditions__descr {
    width: 662px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
  }
}

@media screen and (min-width: $desktop-width) {
  .trditions {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  .traditions__container {
    width: 92.3611111%;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }

  .traditions__content {
    display: flex;
  }

  .traditions__images {
    margin-right: auto;
    margin-left: 0;
  }

  .traditions__descr {
    width: 40.1709402%;
    max-width: 470px;
    padding-top: 80px;
  }

  .traditions__descr-text {
    @include font(19px, 32px, 0.47px, $font-futura-book, 300, #666666);
    padding: 0 0 0 20px;
  }
}
