.unique-tech {
  margin-bottom: 72px;
}

.unique-tech__title {
  @include font(42px, 60px, 0.76px, $font-futura-book, 300, #333333);
  margin-bottom: 50px;
  text-align: center;
}

.unique-tech__text {
  @include font(19px, 32px, 0.48px, $font-futura-book, 300, #666666);
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.unique-tech__feat {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.unique-tech__items {
  @include font(19px, 24px, 1.06px, $font-futura-medium, 500, #1C1F22);
}

.unique-tech__item {
  position: relative;
  margin-bottom: 20px;
}

.unique-tech__label {
  padding-left: 50px;
  &:hover {
    cursor: pointer;
  }
}

.unique-tech__subitem-text {
  &:hover {
    color: #3E5235;
    border-bottom: 1px solid #3E5235;
    cursor: pointer;
  }
}

.unique-tech__label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #979797;
  border-radius: 50%;
  position: absolute;
  left: 0;
}

.unique-tech__input:checked + label::before {
  border-radius: 1px solid #3E5235;
  background-color: #3E5235;
}

.unique-tech__input:checked + label {
  color: #3E5235;
}

.unique-tech__subitems {
  @include font(19px, 32px, 0.48px, $font-futura-book, 300, #666666);
  padding-left: 50px;
}

.unique-tech__subitems {
  padding-top: 20px;
}

.unique-tech__image {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: $tablet-width) {
  .unique-tech__preview {
    display: flex;
    justify-content: center;
  }

  .unique-tech__feat {
    width: 30%;
    min-width: 315px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    justify-content: flex-start;
  }

  .unique-tech__image {
    width: 60%;
    margin-right: 20px;
  }
}

@media screen and (min-width: $desktop-width) {
  .unique-tech {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  .unique-tech__container {
    width: 92.3611111%;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }

  .unique-tech__text {
    width: 844px;
    margin-bottom: 53px;
  }

  .unique-tech__feat {
    width: auto;
    display: flex;
    justify-content: flex-start;
    margin-right: 40px;
  }

  .unique-tech__item {
    margin-bottom: 30px;
  }

  .unique-tech__subitems {
    padding-top: 30px;
  }

  .unique-tech__image {
    width: 67.0940171%;
    max-width: 785px;
  }
}
