@font-face {
  font-family: "Futura PT Book";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FuturaPTBook.otf") format("opentype");
}

@font-face {
  font-family: "Futura PT Bold";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/FuturaPTBold.otf") format("opentype");
}

@font-face {
  font-family: "Futura PT Demi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FuturaPTDemi.otf") format("opentype");
}

@font-face {
  font-family: "Futura PT Medium";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FuturaPTMedium.otf") format("opentype");
}

@font-face {
  font-family: "Futura PT Medium Oblique";
  font-style: oblique;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FuturaPTMediumOblique.otf") format("opentype");
}
