//fonts -----------------------------------------------------------------------
$font-futura-bold: "Futura PT Bold", "Arial", sans-serif;
$font-futura-book: "Futura PT Book", "Arial", sans-serif;
$font-futura-demi: "Futura PT Demi", "Arial", sans-serif;
$font-futura-medium: "Futura PT Medium", "Arial", sans-serif;
$font-futura-medium-oblique: "Futura PT Medium Oblique", "Arial", sans-serif;
//viewports -------------------------------------------------------------------
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
//colors ----------------------------------------------------------------------
$black: #000000;
$almost-black: #101010;
$white: #ffffff;
$night-rider: #333333;
$dim-gray: #666666;
$cinder: #1C1F22;
$black-russian: #1D1F22;
$white-smoke: #f3f3f3;
$fallow: #C39F71;
$grey: #7E7E7E;
$bottle-green: #2A4D3A;
$shady-lady: #979797;
$palm-leaf: #3E5235;
$goblin: #334C3B;
