$font-futura-bold: "Futura PT Bold", "Arial", sans-serif;
$font-futura-book: "Futura PT Book", "Arial", sans-serif;
$font-futura-demi: "Futura PT Demi", "Arial", sans-serif;
$font-futura-medi: "Futura PT Medium", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
